body {
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.row {
    display: flex;
    flex-direction: row;
 }

#vermelho {
    background-color: red;
}

#amarelo {
    background-color: yellow;
}

#verde {
    background-color: green;
}

#azul {
    background-color: blue;
}